.genericModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.genericModalContent {
    background: white;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    z-index: 3;

    h3 {
        margin: 0;
    }
}