.page {
    width: 100%;
    max-width: 30vw;
    height: 100%;
    border: 1px solid var(--primaryColorLight);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    margin: 4rem auto 0;
}
